@media only screen and (max-width:991px) {
    .navbar {
        height: unset;
    }

    .globe {
        height: unset;
        background-color: #004e61fe;
        padding-bottom: 13px;

    }

    .globe-icon {
        color: white !important;

    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .globe .text-dark {
        color: white !important;
        margin: 0px 3px;
    }

    .collapse {
        padding-right: unset;
        padding-left: unset;
        padding-top: unset;
        padding-bottom: unset;

    }

    .navbar-collapse {
        position: absolute;
        top: 100px;
        left: 0px;
        z-index: 100;
        width: 100%;
        background-color: white;
    }

    .navbar-nav {
        padding: 15px 30px;
    }

    .nav-link {
        font-size: 16px;

    }

    .active {
        font-size: 16px;
    }

    .logo-div {
        width: 200px;
        padding: 0px;

    }

    .navbar-brand {
        margin: 0px;
    }

    

    
    .dp-col {
        justify-content: center !important;
    }

    .shadow-icon {
        display: none;
    }

    .graphixs-div{
   width: 100%;
    }

    .friends-social .icon {
        height: 40px;
        width: 40px;
       flex-shrink: 0 !important;
    }


    

    .arrow-icon {
        margin-bottom: 24px !important;
    }
}

@media only screen and (max-width:768px) {
    
    
    .address-div {
        justify-content: center !important;
        margin: 30px 0px;
    }
    .name-text {
        text-align: center;
        justify-content: center;
    }
    .status {
        margin-top: 8px;
        text-align: center;
        margin-bottom: 10px !important;
    }

    .text-left {
        text-align: center !important;
    }

    .text-white-green {
        color: #004d61 !important;
    }
    .first-name {
        text-align: center !important;
        margin-top: 5px;
    }

    .last-name {
        text-align: center !important;
        margin-top: 5px;
    }
    .dp-section {
        margin-top: -130px;
    }
    .camera-icon{
   right: 14px;
    }
    .gray-section {
        height: 0px;
        padding: 0px;
    }
    .owl-nav {
        display: none;
    }

    .details-table tbody tr td {
        font-size: 14px;

    }

    .comment-text-heading {
        flex-direction: column;
    }

}

@media only screen and (max-width:600px) {
    .details {
        padding: 10px;
    }

    .edit-photo-btn {
        right: 10px;

    }

    .friend-card {
        width: unset;
    }

    .comment-card {
        flex-direction: column;
    }

    .comment-pic {
        margin: 0px;
    }
    .display-picture {
        width: 300px;
        height: 300px;
    }

    .display-picture img {
        width: 250px !important;
        height: 250px !important;
    }
}

@media only screen and (max-width:340px) {
    .graphixs-div{
        width:261px;
         }
    .details-table tbody tr td {
        font-size: 12px;
    }

   

}